---
import { SITE } from "src/config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Main from "../layouts/Main.astro";
import Header from "@components/Header.astro";
import Layout from "../layouts/Layout.astro";

import { info } from "../data";

import ProjectsWrapper from "../components/ProjectWrapper.astro";

const Projects = info.projects.map(project => project);

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<!-- <Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="mb-28 prose max-w-3xl prose-img:border-0">
      <h1 class="text-2xl sm:text-3xl tracking-wider">{frontmatter.title}</h1>
      <ProjectsWrapper projects={Projects} />
    </section>
  </main>
  <Footer />
</Layout> -->
<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects" pageDesc="Some of the web projects I've built.">
    <ProjectsWrapper projects={Projects} />
  </Main>
</Layout>
